
@use 'variables';
@use 'placeholders';

* {
	box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  line-height: 1.4;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: $neutral-color;
}

footer {
  background-color: $accent-color;
  margin-top: auto;
  padding: 1em;
}

.header-content {
  @extend %flex-between;
}

.footer-content {

  @extend %flex-between;

  &__message {
    text-align: center;
    color: $accent-color-2;
  }
}

.logo {
  width: 70%;

  &--small {
    width: 50%;
  }
}
