
@use "variables" ;
@use "placeholders";
@use 'mixin' ;

.section {
    margin: 2em 0;
    h2 {
        text-transform: uppercase;
    }
    p {
        a {
            color: v.$accent-color;
        }
    }

    &__btn {
        @include m.bouton(v.$primary-color, v.$accent-color-2, v.$accent-color-2);
        

        &:hover {
            @include m.bouton(darken(v.$primary-color, 20%), v.$primary-color, v.$accent-color-2); 
        }

        &--accent {
            @include m.bouton(v.$accent-color-2, v.$primary-color, v.$accent-color-2, 1.2rem);           

            &:hover {
                @include m.bouton(darken(v.$accent-color-2, 20%), v.$accent-color-2, v.$accent-color-2, 1.2rem);
            }
        }       
    }
}
