@use "placeholders";

@mixin bouton($background-clr, $txt-clr, $border-clr, $txt-size: 1rem){
    @extend %button;
    background-color: $background-clr;
    color: $txt-clr;
    border: solid 0.1em $border-clr;
    font-size: $txt-size;
}