
@use "variables" as v;
@use "placeholders";

.nav-list {
    list-style: none;

    &__list-item {
        display: inline-block;
        margin-left: 0.8em;
    }

    &__link {
        @extend %button;
        text-transform: uppercase;
        color: v.$accent-color-2;

        &--actuel-header {
            border-bottom: 0.2em solid v.$accent-color;
        }

        &--actuel-footer {
            border-bottom: 0.2em solid v.$primary-color;
        }
    }

    &__link:hover {
        background-color: v.$primary-color;
    }

    &--small {
        font-size: 0.8em;
    }
}
