/*
Ce fichier contient les placeholders, qui sont des groupes de règles CSS qu'on
peut appeler et réutiliser à l'intérieur d'autres classes à l'aide de la règle @extend.
*/
@use 'variables' as *;

%flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;	
}

%button{
  text-decoration: none;
  display: inline-block;
  padding: $btn-pad-std;
  border-radius: $btn-border-radius;
}