
$btn-border-radius: 0.4em; 
$font-stack: Open Sans ;
$primary-color: #f0eded;
$secondary-color: #2b2828;
$neutral-color: #d4d1d1;
$accent-color: rgb(6, 179, 241);
$accent-color-2: lighten($accent-color, 100%)