$btn-pad-std: 0.5em 1em;
$btn-border-radius: 0.4em; 
$font-stack: Helvetica, sans-serif;
$primary-color: #f0eded;
$secondary-color: #2b2828;
$neutral-color: #d4d1d1;
$accent-color: rgb(136, 24, 76);
$accent-color-2: lighten($accent-color, 20%)