@charset "UTF-8";

.header-content, .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__btn, .section__btn:hover, .section__btn--accent, .section__btn--accent:hover, .nav-list__link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.4em;
}

* {
  box-sizing: border-box;
}




body {
  background-color: #f0eded;
  color: #2b2828;
  line-height: 1.4;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




.container {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

.container-grid {
  max-width: 100%;
  display: grid;

}

.container-image {
  max-width: 50%;
  display: grid;
  grid-column: 1fr 2fr;
}

.container-text {
  max-width: 50%;
  display: grid;
  grid-column: 1fr 2fr;
}


header {
  background-color: #d4d1d1;
}

footer {
  background-color: #116b86;
  margin-top: auto;
  padding: 1em;
}


.footer-content {
  
}
.footer-content__message {
  text-align: center;
}



.logo {
  width: 70%;
}
.logo--small {
  width: 50%;
}




.nav-list {
  list-style: none;
}
.nav-list__list-item {
  display: inline-block;
  margin-left: 0.8em;
}
.nav-list__link {
  text-transform: uppercase;
  color: #272834;
}
.nav-list__link--actuel-header {
  border-bottom: 0.2em solid rgb(21, 13, 69);
}
.nav-list__link--actuel-footer {
  border-bottom: 0.2em solid #f0eded;
}
.nav-list__link:hover {
  background-color: #f0eded;
}
.nav-list--small {
  font-size: 0.8em;
}




.section {
  margin: 2em 0;

}
.section h2 {
  text-transform: uppercase;
  text-align: center;
}
.section p a {
  color: rgb(136, 24, 76);
}

